footer {
  background-color: var(--footer-bg);
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-block: 1rem;
  color: white;
  font-size: 17px;

  & span {
    color: #ff7790;
    text-transform: capitalize;
  }
}
#goto {
  display: none;
}
#goto a {
  background-color: #1976d2;
  color: #ffffff;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  position: fixed;
  bottom: 7%;
  left: 2%;
  & .arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
  }
}
