<h1 class="recommended">
    <i class="fa-solid fa-check"></i>
    Recommended for you
</h1>

<section class="products flex">

    <article class="card">
        <a href="/pages/product-details.html">
            <img width="266" src="./images/1.png" alt="" srcset="" />
        </a>
        <div style="width: 266px" class="content">
            <h1 class="title">Product Title</h1>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur elit adipisicing . Ex
                tempore dolor in, accusantium laudantium accusamus.
            </p>
            <div class="flex card-footer">
                <div class="price">$100</div>
                <button class="add-to-cart flex">
                    <i class="fa-solid fa-cart-plus"></i>
                    Add To Cart
                </button>
            </div>
        </div>
    </article>

    <article class="card">
        <a href="/pages/product-details.html">
            <img width="266" src="./images/2.webp" alt="" srcset="" />
        </a>

        <div style="width: 266px" class="content">
            <h1 class="title">Product Title</h1>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur elit adipisicing . Ex
                tempore dolor in, accusantium laudantium accusamus.
            </p>

            <div class="flex" style="justify-content: space-between; padding-bottom: 0.7rem">
                <div class="price">$100</div>

                <button class="add-to-cart flex">
                    <i class="fa-solid fa-cart-plus"></i>
                    Add To Cart
                </button>
            </div>
        </div>
    </article>

    <article class="card">
        <a href="/pages/product-details.html">
            <img width="266" src="./images/3.webp" alt="" srcset="" />
        </a>

        <div style="width: 266px" class="content">
            <h1 class="title">Product Title</h1>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur elit adipisicing . Ex
                tempore dolor in, accusantium laudantium accusamus.
            </p>

            <div class="flex" style="justify-content: space-between; padding-bottom: 0.7rem">
                <div class="price">$100</div>

                <button class="add-to-cart flex">
                    <i class="fa-solid fa-cart-plus"></i>
                    Add To Cart
                </button>
            </div>
        </div>
    </article>

    <article class="card">
        <a href="/pages/product-details.html">
            <img width="266" src="./images/4.webp" alt="" srcset="" />
        </a>

        <div style="width: 266px" class="content">
            <h1 class="title">Product Title</h1>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur elit adipisicing . Ex
                tempore dolor in, accusantium laudantium accusamus.
            </p>

            <div class="flex" style="justify-content: space-between; padding-bottom: 0.7rem">
                <div class="price">$100</div>

                <button class="add-to-cart flex">
                    <i class="fa-solid fa-cart-plus"></i>
                    Add To Cart
                </button>
            </div>
        </div>
    </article>

    <article class="card">
        <a href="/pages/product-details.html">
            <img width="266" src="./images/5.webp" alt="" srcset="" />
        </a>

        <div style="width: 266px" class="content">
            <h1 class="title">Product Title</h1>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur elit adipisicing . Ex
                tempore dolor in, accusantium laudantium accusamus.
            </p>

            <div class="flex" style="justify-content: space-between; padding-bottom: 0.7rem">
                <div class="price">$100</div>

                <button class="add-to-cart flex">
                    <i class="fa-solid fa-cart-plus"></i>
                    Add To Cart
                </button>
            </div>
        </div>
    </article>

    <article class="card">
        <a href="/pages/product-details.html">
            <img width="266" src="./images/6.webp" alt="" srcset="" />
        </a>

        <div style="width: 266px" class="content">
            <h1 class="title">Product Title</h1>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur elit adipisicing . Ex
                tempore dolor in, accusantium laudantium accusamus.
            </p>

            <div class="flex" style="justify-content: space-between; padding-bottom: 0.7rem">
                <div class="price">$100</div>

                <button class="add-to-cart flex">
                    <i class="fa-solid fa-cart-plus"></i>
                    Add To Cart
                </button>
            </div>
        </div>
    </article>

    <article class="card">
        <a href="/pages/product-details.html">
            <img width="266" src="./images/7.webp" alt="" srcset="" />
        </a>

        <div style="width: 266px" class="content">
            <h1 class="title">Product Title</h1>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur elit adipisicing . Ex
                tempore dolor in, accusantium laudantium accusamus.
            </p>

            <div class="flex" style="justify-content: space-between; padding-bottom: 0.7rem">
                <div class="price">$100</div>

                <button class="add-to-cart flex">
                    <i class="fa-solid fa-cart-plus"></i>
                    Add To Cart
                </button>
            </div>
        </div>
    </article>

    <article class="card">
        <a href="/pages/product-details.html">
            <img width="266" src="./images/8.png" alt="" srcset="" />
        </a>

        <div style="width: 266px" class="content">
            <h1 class="title">Product Title</h1>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur elit adipisicing . Ex
                tempore dolor in, accusantium laudantium accusamus.
            </p>

            <div class="flex" style="justify-content: space-between; padding-bottom: 0.7rem">
                <div class="price">$100</div>

                <button class="add-to-cart flex">
                    <i class="fa-solid fa-cart-plus"></i>
                    Add To Cart
                </button>
            </div>
        </div>
    </article>
</section>